*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:linear-gradient(135deg,#0f172a,#1e293b,#334155);
color:white;
}

.app{
padding:40px;
}

.hero{
text-align:center;
margin-bottom:50px;
}

.hero h1{
font-size:45px;
margin-bottom:10px;
}

.hero p{
color:#ddd;
margin-bottom:25px;
}

.hero input{
width:420px;
max-width:90%;
padding:15px;
border:none;
border-radius:40px;
font-size:17px;
outline:none;
margin-bottom:25px;
}

.categories{
display:flex;
justify-content:center;
gap:15px;
flex-wrap:wrap;
}

.categories button{
padding:12px 24px;
border:none;
border-radius:30px;
cursor:pointer;
font-size:15px;
background:#ffffff22;
color:white;
transition:.3s;
}

.categories button:hover{
background:#38bdf8;
}

.active{
background:#0ea5e9!important;
}

.products{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
gap:35px;
}

.card{
background:rgba(255,255,255,.1);
backdrop-filter:blur(15px);
border-radius:25px;
overflow:hidden;
transition:.4s;
box-shadow:0 10px 30px rgba(0,0,0,.3);
}

.card:hover{
transform:translateY(-10px) scale(1.03);
}

.imageBox{
height:250px;
overflow:hidden;
}

.imageBox img{
width:100%;
height:100%;
object-fit:cover;
transition:.5s;
}

.card:hover img{
transform:scale(1.1);
}

.info{
padding:20px;
}

.info h2{
margin-bottom:10px;
}

.category{
display:inline-block;
background:#38bdf8;
padding:6px 15px;
border-radius:20px;
font-size:13px;
margin-bottom:15px;
}

.rating{
margin:12px 0;
font-size:18px;
}

.info h3{
font-size:28px;
margin-bottom:20px;
color:#4ade80;
}

.buttons{
display:flex;
justify-content:space-between;
}

.cart{
flex:1;
padding:13px;
border:none;
background:#0ea5e9;
color:white;
border-radius:15px;
cursor:pointer;
font-size:16px;
transition:.3s;
margin-right:10px;
}

.cart:hover{
background:#0284c7;
}

.wish{
width:55px;
border:none;
border-radius:15px;
background:#ef4444;
color:white;
font-size:22px;
cursor:pointer;
transition:.3s;
}

.wish:hover{
background:#dc2626;
}

@media(max-width:768px){

.hero h1{
font-size:32px;
}

.products{
grid-template-columns:1fr;
}

.hero input{
width:100%;
}

}